<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="E:\Users\JT\Documents\Visual Studio 2013\Projects\HotS Scraping\ScrapingService\bin\Debug\InfoLog.log"
            archiveFileName="E:\Users\JT\Documents\Visual Studio 2013\Projects\HotS Scraping\ScrapingService\bin\Debug\logs\archive.{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="40"
            layout="[${time}] ${message} ${exception:format=tostring}"/>
    <target name="Console" xsi:type="ColoredConsole"
        useDefaultRowHighlightingRules="true"
        layout="${time} ${callsite:fileName=false} ${message} ${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="Console" />
  </rules>
</nlog>